In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [2]:
with open('movie_data.txt') as json_file:
    data = json.load(json_file)

data['1999']['The Sixth Sense']

{'Title': 'The Sixth Sense',
 'Year': '1999',
 'Rated': 'PG-13',
 'Released': '06 Aug 1999',
 'Runtime': '107 min',
 'Genre': 'Drama, Mystery, Thriller',
 'Director': 'M. Night Shyamalan',
 'Writer': 'M. Night Shyamalan',
 'Actors': 'Bruce Willis, Haley Joel Osment, Toni Collette',
 'Plot': 'A boy who communicates with spirits seeks the help of a disheartened child psychologist.',
 'Language': 'English, Latin, Spanish',
 'Country': 'United States',
 'Awards': 'Nominated for 6 Oscars. 37 wins & 56 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMWM4NTFhYjctNzUyNi00NGMwLTk3NTYtMDIyNTZmMzRlYmQyXkEyXkFqcGdeQXVyMTAwMzUyOTc@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '86%'},
  {'Source': 'Metacritic', 'Value': '64/100'}],
 'Metascore': '64',
 'imdbRating': '8.1',
 'imdbVotes': '930,921',
 'imdbID': 'tt0167404',
 'Type': 'movie',
 'DVD': '28 Oct 2016',
 'BoxOffice': '$293,506,292',
 'Production': 'Hollywood Pictures, Spyglass Entertainment',
 'Website': 'N/A',
 'Response': 'True'}

In [3]:
imdb_rating = {}
imdb_list = []

for year in list(data.keys()):
    movies = list(data[year].keys())
    imdb_list = []
    for movie in movies:
        try:
            imdb_r = data[year][movie]['imdbRating']
            
            imdb_list.append(imdb_r)
        except:
            print(" Year: "+year+" Movie: "+movie)
    imdb_rating[year] = imdb_list
imdb_rating['1980']

 Year: 1980 Movie: In God We Trust (or Gimme That Prime Time Religion)
 Year: 1981 Movie: Indiana Jones and the Raiders of the Lost Ark
 Year: 1981 Movie: Cinderella1981 Re-release
 Year: 1982 Movie: Indiana Jones and the Raiders of the Lost Ark
 Year: 1982 Movie: Cinderella1981 Re-release
 Year: 1982 Movie: Bambi1982 Re-release
 Year: 1982 Movie: Indiana Jones and the Raiders of the Lost Ark1982 Re-release
 Year: 1983 Movie: Snow White and the Seven Dwarfs1983 Re-release
 Year: 1984 Movie: The Jungle Book1984 Re-release
 Year: 1985 Movie: E.T. the Extra-Terrestrial1985 Re-release
 Year: 1986 Movie: One Hundred and One Dalmatians1985 Re-release
 Year: 1987 Movie: Snow White and the Seven Dwarfs1987 Re-release
 Year: 1987 Movie: Cinderella1987 Re-release
 Year: 1988 Movie: Bambi1988 Re-release
 Year: 1988 Movie: The Fox and the Hound1988 Re-release
 Year: 1989 Movie: Peter Pan1989 Re-release
 Year: 1990 Movie: The Jungle Book1990 Re-release
 Year: 1991 Movie: One Hundred and One Dalmatians1991 Re-release
 Year: 1993 Movie: Snow White and the Seven Dwarfs1993 Re-release
 Year: 1997 Movie: Star Wars: Episode IV - A New Hope1997 Special Edition
 Year: 1997 Movie: Star Wars: Episode V - The Empire Strikes Back1997 Special Edition
 Year: 1997 Movie: Star Wars: Episode VI - Return of the Jedi1997 Special Edition
 Year: 1998 Movie: Ever After: A Cinderella Story
 Year: 1999 Movie: Pokémon: The First Movie - Mewtwo Strikes Back
 Year: 2003 Movie: X2: X-Men United
 Year: 2007 Movie: Fantastic 4: Rise of the Silver Surfer
 Year: 2007 Movie: Tyler Perry's Why Did I Get Married?
 Year: 2010 Movie: Knight and Day2010 Re-release
 Year: 2011 Movie: The Lion King2011 3D Release
 Year: 2013 Movie: Lee Daniels' The Butler
 Year: 2015 Movie: The Divergent Series: Insurgent
 Year: 2020 Movie: My Hero Academia: Heroes Rising
 Year: 2020 Movie: Weathering with You

['8.7',
 '5.8',
 '6.8',
 '7.8',
 '6.1',
 '6.2',
 '7.5',
 '5.3',
 '7.9',
 '7.7',
 '5.3',
 '8.4',
 '6.1',
 '7.3',
 '6.4',
 '7.2',
 '6.5',
 '6.5',
 '6.1',
 '8.2',
 '5.3',
 '6.2',
 '7.1',
 '6.6',
 '6.9',
 '6.3',
 '6.0',
 '7.0',
 '6.8',
 '5.2',
 '5.2',
 '6.7',
 '4.6',
 '5.3',
 '4.3',
 '5.1',
 '7.3',
 '7.2',
 '5.6',
 '5.8',
 '6.5',
 '6.1',
 '6.6',
 '4.3',
 '6.0',
 '6.3',
 '5.4',
 '7.0',
 '5.0']

In [49]:
box_office = {}
box_list = []

for year in list(data.keys()):
    movies = list(data[year].keys())
    box_list = []
    for movie in movies:
        try:
            box_r = data[year][movie]['BoxOffice'][1:]
            
            box_list.append(box_r)
        except:
            print(" Year: "+year+" Movie: "+movie)
    box_office[year] = box_list
box_office['1980']

 Year: 1980 Movie: In God We Trust (or Gimme That Prime Time Religion)
 Year: 1981 Movie: Indiana Jones and the Raiders of the Lost Ark
 Year: 1981 Movie: Cinderella1981 Re-release
 Year: 1982 Movie: Indiana Jones and the Raiders of the Lost Ark
 Year: 1982 Movie: Cinderella1981 Re-release
 Year: 1982 Movie: Bambi1982 Re-release
 Year: 1982 Movie: Indiana Jones and the Raiders of the Lost Ark1982 Re-release
 Year: 1983 Movie: Snow White and the Seven Dwarfs1983 Re-release
 Year: 1984 Movie: The Jungle Book1984 Re-release
 Year: 1984 Movie: The NeverEnding Story
 Year: 1985 Movie: E.T. the Extra-Terrestrial1985 Re-release
 Year: 1985 Movie: Teen Wolf
 Year: 1986 Movie: One Hundred and One Dalmatians1985 Re-release
 Year: 1987 Movie: Snow White and the Seven Dwarfs1987 Re-release
 Year: 1987 Movie: Cinderella1987 Re-release
 Year: 1988 Movie: Beetlejuice
 Year: 1988 Movie: Bambi1988 Re-release
 Year: 1988 Movie: The Fox and the Hound1988 Re-release
 Year: 1989 Movie: Peter Pan1989 Re-release
 Year: 1990 Movie: The Jungle Book1990 Re-release
 Year: 1991 Movie: One Hundred and One Dalmatians1991 Re-release
 Year: 1993 Movie: Snow White and the Seven Dwarfs1993 Re-release
 Year: 1996 Movie: 12 Monkeys
 Year: 1996 Movie: Up Close & Personal
 Year: 1997 Movie: Star Wars: Episode IV - A New Hope1997 Special Edition
 Year: 1997 Movie: Star Wars: Episode V - The Empire Strikes Back1997 Special Edition
 Year: 1997 Movie: Star Wars: Episode VI - Return of the Jedi1997 Special Edition
 Year: 1998 Movie: The X Files
 Year: 1998 Movie: Lost in Space
 Year: 1998 Movie: Ever After: A Cinderella Story
 Year: 1999 Movie: Pokémon: The First Movie - Mewtwo Strikes Back
 Year: 2003 Movie: X2: X-Men United
 Year: 2003 Movie: Daredevil
 Year: 2003 Movie: School of Rock
 Year: 2007 Movie: Fantastic 4: Rise of the Silver Surfer
 Year: 2007 Movie: Tyler Perry's Why Did I Get Married?
 Year: 2010 Movie: Percy Jackson & the Olympians: The Lightning Thief
 Year: 2010 Movie: Knight and Day2010 Re-release
 Year: 2011 Movie: The Lion King2011 3D Release
 Year: 2013 Movie: Lee Daniels' The Butler
 Year: 2015 Movie: The Divergent Series: Insurgent
 Year: 2019 Movie: Downton Abbey
 Year: 2020 Movie: Birds of Prey
 Year: 2020 Movie: My Hero Academia: Heroes Rising
 Year: 2020 Movie: Weathering with You

['292,753,960',
 '/A',
 '101,300,000',
 '106,260,000',
 '70,687,344',
 '69,847,348',
 '67,182,787',
 '66,132,626',
 '57,229,890',
 '54,766,923',
 '49,823,037',
 '45,332,952',
 '41,675,194',
 '39,846,344',
 '39,754,601',
 '37,121,708',
 '/A',
 '27,107,960',
 '24,265,659',
 '23,383,987',
 '22,762,571',
 '22,743,674',
 '22,482,952',
 '21,202,829',
 '19,853,892',
 '17,815,212',
 '15,934,737',
 '15,795,189',
 '35,818,913',
 '14,662,035',
 '14,504,277',
 '14,287,755',
 '14,155,617',
 '12,835,544',
 '15,198,912',
 '10,697,276',
 '10,389,003',
 '9,709,597',
 '8,894,289',
 '8,527,743',
 '209,696',
 '7,470,348',
 '6,659,377',
 '6,621,520',
 '6,342,668',
 '6,321,392',
 '6,216,067',
 '5,318,098',
 '4,875,436']

In [66]:

for year in box_office.keys():    
    for i in range(0,len(box_office[year])):
        try:
            
            box_office[year][i]=float(box_office[year][i].replace(',',''))
        except:
            print(f' box_office not found {year, i}')
           
            
box_office['1980']

[292753960.0,
 101300000.0,
 106260000.0,
 70687344.0,
 69847348.0,
 67182787.0,
 66132626.0,
 57229890.0,
 54766923.0,
 49823037.0,
 45332952.0,
 41675194.0,
 39846344.0,
 39754601.0,
 37121708.0,
 27107960.0,
 24265659.0,
 23383987.0,
 22762571.0,
 22743674.0,
 22482952.0,
 21202829.0,
 19853892.0,
 17815212.0,
 15934737.0,
 15795189.0,
 35818913.0,
 14662035.0,
 14504277.0,
 14287755.0,
 14155617.0,
 12835544.0,
 15198912.0,
 10697276.0,
 10389003.0,
 9709597.0,
 8894289.0,
 8527743.0,
 209696.0,
 7470348.0,
 6659377.0,
 6621520.0,
 6342668.0,
 6321392.0,
 6216067.0,
 5318098.0,
 4875436.0]

In [61]:
for year in box_office.keys():    
        for i in range(0,len(box_office[year])):
            try:
                if box_office[year][i]=='/A':
                    del box_office[year][i]
            except:
                print(year)

In [67]:
avg_box_office = []
for year in box_office.keys():
    avg = np.average(box_office[year])
    avg_box_office.append(avg)
avg_box_office

[33888913.595744684,
 26776171.127659574,
 61235375.63043478,
 59814738.91836735,
 56039652.4680851,
 48063140.541666664,
 58365151.75510204,
 59232169.958333336,
 62472965.54347826,
 72441009.67391305,
 76337136.42857143,
 71929068.46938775,
 79575176.18367347,
 82676526.0,
 82894753.52,
 75138843.38,
 84380320.5,
 101396863.36170213,
 108619529.0,
 113111801.375,
 106147610.72916667,
 119772289.7755102,
 134544146.08,
 129937175.74468085,
 133577535.2,
 122872996.77083333,
 121027851.52,
 139366232.10416666,
 130262806.14,
 163118362.75510204,
 160433372.9574468,
 140630312.875,
 158225300.88,
 161221055.60416666,
 152241196.3,
 178855254.18367347,
 176460094.30612245,
 173123123.97959185,
 192473720.0,
 190215214.89361703,
 74114547.15555556]

In [33]:
for year in imdb_rating.keys():    
    for i in range(0,len(imdb_rating[year])):
        try:
            imdb_rating[year][i]=float(imdb_rating[year][i])
        except:
            print(f'imdb_rating not found {year, i}')
            
            
print(type(imdb_rating))

imdb_rating not found ('1989', 11)
imdb_rating not found ('1996', 28)
imdb_rating not found ('2005', 26)
imdb_rating not found ('2020', 30)
<class 'dict'>

In [35]:
print(imdb_rating['1989'][11])
print(imdb_rating['1996'][28])
print(imdb_rating['2005'][26])
print(imdb_rating['2020'][30])

N/A
N/A
N/A
N/A

In [36]:
imdb_rating['1989'].remove('N/A')
imdb_rating['1996'].remove('N/A')
imdb_rating['2005'].remove('N/A')
imdb_rating['2020'].remove('N/A')

In [41]:
avg_imdb_rating = []
for year in imdb_rating.keys():
    avg = np.average(imdb_rating[year])
    avg_imdb_rating.append(avg)
avg_imdb_rating

[6.357142857142857,
 6.29375,
 6.791304347826086,
 6.481632653061225,
 6.512244897959184,
 6.66530612244898,
 6.659183673469388,
 6.754166666666667,
 6.76875,
 6.925000000000001,
 6.653061224489796,
 6.822448979591837,
 6.632,
 6.724489795918369,
 6.558,
 6.66,
 6.710204081632654,
 6.589361702127659,
 6.795918367346937,
 6.622448979591836,
 6.608,
 6.526000000000002,
 6.704,
 6.495918367346939,
 6.787999999999999,
 6.553061224489796,
 6.426,
 6.541666666666667,
 6.364,
 6.712000000000001,
 6.63061224489796,
 6.4714285714285715,
 6.8260000000000005,
 6.844897959183674,
 6.777999999999999,
 6.712244897959185,
 6.775999999999999,
 6.810000000000001,
 6.724,
 6.956,
 6.287234042553192]

META_SCORE

In [69]:
meta_score = {}
meta_list = []

for year in list(data.keys()):
    movies = list(data[year].keys())
    meta_list = []
    for movie in movies:
        try:
            meta_r = data[year][movie]['Metascore']
            
            meta_list.append(meta_r)
        except:
            print(" Year: "+year+" Movie: "+movie)
    meta_score[year] = meta_list
meta_score['1980']

 Year: 1980 Movie: In God We Trust (or Gimme That Prime Time Religion)
 Year: 1981 Movie: Indiana Jones and the Raiders of the Lost Ark
 Year: 1981 Movie: Cinderella1981 Re-release
 Year: 1982 Movie: Indiana Jones and the Raiders of the Lost Ark
 Year: 1982 Movie: Cinderella1981 Re-release
 Year: 1982 Movie: Bambi1982 Re-release
 Year: 1982 Movie: Indiana Jones and the Raiders of the Lost Ark1982 Re-release
 Year: 1983 Movie: Snow White and the Seven Dwarfs1983 Re-release
 Year: 1984 Movie: The Jungle Book1984 Re-release
 Year: 1985 Movie: E.T. the Extra-Terrestrial1985 Re-release
 Year: 1986 Movie: One Hundred and One Dalmatians1985 Re-release
 Year: 1987 Movie: Snow White and the Seven Dwarfs1987 Re-release
 Year: 1987 Movie: Cinderella1987 Re-release
 Year: 1988 Movie: Bambi1988 Re-release
 Year: 1988 Movie: The Fox and the Hound1988 Re-release
 Year: 1989 Movie: Peter Pan1989 Re-release
 Year: 1990 Movie: The Jungle Book1990 Re-release
 Year: 1991 Movie: One Hundred and One Dalmatians1991 Re-release
 Year: 1993 Movie: Snow White and the Seven Dwarfs1993 Re-release
 Year: 1997 Movie: Star Wars: Episode IV - A New Hope1997 Special Edition
 Year: 1997 Movie: Star Wars: Episode V - The Empire Strikes Back1997 Special Edition
 Year: 1997 Movie: Star Wars: Episode VI - Return of the Jedi1997 Special Edition
 Year: 1998 Movie: Ever After: A Cinderella Story
 Year: 1999 Movie: Pokémon: The First Movie - Mewtwo Strikes Back
 Year: 2003 Movie: X2: X-Men United
 Year: 2007 Movie: Fantastic 4: Rise of the Silver Surfer
 Year: 2007 Movie: Tyler Perry's Why Did I Get Married?
 Year: 2010 Movie: Knight and Day2010 Re-release
 Year: 2011 Movie: The Lion King2011 3D Release
 Year: 2013 Movie: Lee Daniels' The Butler
 Year: 2015 Movie: The Divergent Series: Insurgent
 Year: 2020 Movie: My Hero Academia: Heroes Rising
 Year: 2020 Movie: Weathering with You

['82',
 'N/A',
 '56',
 '77',
 '51',
 '59',
 '87',
 '41',
 '60',
 '86',
 '64',
 '66',
 '66',
 '48',
 '22',
 '54',
 '66',
 '58',
 '66',
 '89',
 '31',
 '57',
 '67',
 '58',
 '58',
 'N/A',
 'N/A',
 '64',
 '50',
 'N/A',
 '35',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '29',
 'N/A',
 'N/A',
 '53',
 '65',
 'N/A',
 'N/A',
 '64',
 'N/A',
 '41',
 'N/A',
 'N/A']

In [15]:
# new_df = pd.DataFrame.from_dict([imdb_rating, box_office], orient='columns')
# new_df
# not very pretty

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"[8.7, 5.8, 6.8, 7.8, 6.1, 6.2, 7.5, 5.3, 7.9, ...","[6.8, 6.9, 6.2, 6.7, 6.8, 7.4, 6.9, 6.1, 7.2, ...","[7.8, 6.8, 7.6, 7.0, 6.2, 5.7, 7.7, 7.3, 6.0, ...","[8.3, 7.4, 6.2, 7.5, 7.1, 6.5, 4.7, 6.8, 6.6, ...","[7.8, 7.5, 7.3, 7.3, 6.7, 6.6, 7.3, 6.7, 7.4, ...","[8.5, 7.3, 6.5, 6.9, 6.7, 7.4, 7.8, 5.8, 6.9, ...","[6.9, 6.6, 6.1, 6.7, 8.3, 7.8, 7.3, 6.9, 7.2, ...","[6.5, 8.1, 6.9, 7.9, 6.1, 6.5, 6.6, 7.6, 6.6, ...","[7.7, 7.1, 7.3, 7.3, 5.6, 6.1, 8.2, 7.1, 5.9, ...","[7.5, 8.2, 7.2, 8.0, 6.4, 5.9, 6.6, 8.1, 7.0, ...",...,"[8.1, 6.2, 4.9, 6.4, 6.6, 7.3, 6.1, 7.0, 7.5, ...","[8.0, 8.4, 7.2, 7.7, 5.5, 6.9, 7.1, 7.8, 6.9, ...","[6.4, 7.5, 7.3, 7.0, 7.2, 7.4, 7.7, 7.1, 6.3, ...","[8.0, 6.6, 7.7, 7.7, 5.6, 7.0, 7.9, 7.6, 7.8, ...","[7.0, 7.8, 7.3, 8.1, 7.1, 7.3, 6.4, 6.6, 8.0, ...","[7.3, 7.5, 7.8, 6.5, 7.4, 8.0, 8.0, 6.4, 5.9, ...","[7.0, 8.0, 7.4, 7.6, 7.4, 7.3, 7.9, 6.3, 8.1, ...","[7.3, 8.4, 7.6, 6.2, 7.7, 6.3, 6.9, 7.7, 7.0, ...","[8.4, 8.5, 7.7, 6.8, 6.8, 6.6, 7.5, 8.0, 8.4, ...","[6.6, 8.3, 6.5, 6.6, 6.6, 6.4, 5.6, 7.8, 7.1, ..."
1,"[$292,753,960, N/A, $101,300,000, $106,260,000...","[$108,185,706, $85,297,000, $72,179,579, $54,8...","[$435,110,554, $125,049,125, $119,285,432, $12...","[$309,306,177, $177,200,000, $92,921,203, $90,...","[$243,187,079, $179,870,271, $153,378,102, $91...","[$211,406,762, $234,760,478, $150,415,432, $12...","[$180,258,178, $174,803,506, $115,103,979, $91...","[$153,665,036, $138,530,565, $156,645,693, $76...","[$156,452,370, $128,152,301, $123,922,370, $11...","[$251,348,343, $197,171,806, $147,253,986, $17...",...,"[$381,409,310, $352,390,543, $281,287,133, $25...","[$623,357,910, $448,139,099, $408,010,692, $30...","[N/A, $424,668,047, $368,065,385, $291,045,518...","[$333,718,600, $337,135,885, $259,766,572, $25...","[$652,385,625, $936,662,225, $459,005,868, $35...","[$486,295,561, N/A, $408,084,349, $368,384,330...","[$620,181,382, $218,967,620, $412,815,408, $38...","[$700,426,566, $678,815,482, $608,581,744, $41...","[$858,373,000, $422,783,777, $434,038,008, $47...","[$206,305,244, $159,227,644, $148,974,665, $32..."